<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{/general/blocks/general :: head (${title})}">
    <title>Заголовок будет изменен</title>
</head>

<body>
<header th:insert="~{/general/blocks/general :: header}"></header>

<main>
    <div class="container mt-5">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                    <h1 class="fw-bold mb-0 fs-2">Login in</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" id="floatingInput"
                                   placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="floatingPassword"
                                   placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Log in</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:insert="~{/general/blocks/general :: footer}"></footer>

<script type="text/javascript" th:src="@{/js/authorization/login.js}"></script>
</body>
</html>