<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{/general/blocks/general :: head (${title}, ~{}, ~{})}">
    <title>Заголовок будет изменен</title>
</head>

<body>
<header th:insert="~{/general/blocks/general :: header}"></header>

<main>
    <div class="container mt-5">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                    <h1 class="fw-bold mb-0 fs-2">Login in</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form th:action="@{/login}" method="post">
                        <div class="form-floating mb-3">
                            <input id="emailInput" required type="email" class="form-control rounded-3" name="username"
                                   placeholder="name@example.com">
                            <label for="emailInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="passwordInput" required type="password" class="form-control rounded-3" name="password"
                                   placeholder="Password">
                            <label for="passwordInput">Password</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Log in</button>
                        <hr class="my-4">
                    </form>

                    <div>
                        <div class="text-center pb-2">
                            <small class="text-muted ">No account yet?</small>
                        </div>
                        <a th:href="@{/registration}" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" role="button">Sign
                            up</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<footer th:insert="~{/general/blocks/general :: footer}"></footer>

</body>
</html>