<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{/general/blocks/general :: head (${title},~{})}">
    <title>Заголовок будет изменен</title>
</head>

<body>
<header th:insert="~{/general/blocks/general :: header}"></header>

<main>
    <div class="container mt-5">
        <div class="modal-dialog">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Добавление товара</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-8 pt-0">

                    <!--Форма-->
                    <form id="addingProductForm" th:action="@{/shop/adding_product}" method="post"
                          enctype="multipart/form-data" novalidate>

                        <!--Название товара-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Название</span>
                            </div>
                            <input type="text" class="form-control" id="nameInput" name="name"
                                   placeholder="Тигуанинь">
                        </div>

                        <!--Описание-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="height: 120px">Описание товара</span>
                            </div>
                            <textarea class="form-control" style="height: 120px; resize: none" id="descriptionInput"
                                      name="description"
                                      placeholder="Самый лучший чай"></textarea>
                        </div>

                        <!--Цена-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Цена</span>
                            </div>
                            <input type="text" class="form-control" id="priceInput" name="price"
                                   placeholder="99.99">
                            <div class="input-group-append">
                                <span class="input-group-text">₽</span>
                            </div>
                        </div>

                        <!--Изображения-->
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="imagesInput">Изображения</label>
                            <input class="form-control" type="file" accept="image/*" id="imagesInput" name="images"
                                   placeholder="Изображение.jpeg" multiple>
                        </div>

                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Добавить товар
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>

<footer th:insert="~{/general/blocks/general :: footer}"></footer>

<script type="text/javascript" th:src="@{/js/authorization/registration.js}"></script>
</body>
</html>